<h3>Post Directory</h3>
<div id="post-directory-module">
<section class="post-directory">
    <!-- Links that trigger the jumping -->
    <!-- Added by javascript below -->
    <dl></dl>
</section>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        $( "article h2" ).each(function( index ) {
            $(".post-directory dl").append("<dt><a class=\"jumper\" hre=#" +
                    $(this).attr("id")
                    + ">"
                    + $(this).text()
                    + "</a></dt>");

            var children = $(this).nextUntil("h2", "h3")

            children.each(function( index ) {
                $(".post-directory dl").append("<dd><a class=\"jumper\" hre=#" +
                        $(this).attr("id")
                        + ">"
                        + "&nbsp;&nbsp;- " + $(this).text()
                        + "</a></dd>");
            });
        });

        var fixmeTop = $('#post-directory-module').offset().top - 100;       // get initial position of the element

        $(window).scroll(function() {                  // assign scroll event listener

            var currentScroll = $(window).scrollTop(); // get current position

            if (currentScroll >= fixmeTop) {           // apply position: fixed if you
                $('#post-directory-module').css({      // scroll to that element or below it
                    top: '100px',
                    position: 'fixed',
                    width: 'inherit'
                });
            } else {                                   // apply position: static
                $('#post-directory-module').css({      // if you scroll above it
                    position: 'inherit',
                    width: 'inherit'
                });
            }

        });

        $("a.jumper").on("click", function( e ) {

            e.preventDefault();

            $("body, html").animate({
                scrollTop: ($( $(this).attr('hre') ).offset().top - 100)
            }, 600);

        });
    });

</script>

<!-- Navigation -->
<!--<nav class="navbar navbar-default navbar-custom navbar-fixed-top">-->
<!--    <div class="container-fluid">-->
<!--        &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
<!--&lt;!&ndash;        <div class="navbar-header page-scroll">&ndash;&gt;-->
<!--&lt;!&ndash;            <button type="button" class="navbar-toggle">&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="sr-only">Toggle navigation</span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;                <span class="icon-bar"></span>&ndash;&gt;-->
<!--&lt;!&ndash;            </button>&ndash;&gt;-->
<!--&lt;!&ndash;            <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--        &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
<!--        <div id="huxblog_navbar">-->
<!--            <div class="navbar-collapse">-->
<!--&lt;!&ndash;                <ul class="nav navbar-nav navbar-right">&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="{{ site.baseurl }}/">Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    {% for page in site.pages %}{% if page.title %}&ndash;&gt;-->
<!--&lt;!&ndash;                    <li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>&ndash;&gt;-->
<!--&lt;!&ndash;                    </li>&ndash;&gt;-->
<!--&lt;!&ndash;                    {% endif %}{% endfor %}&ndash;&gt;-->
<!--&lt;!&ndash;                </ul>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; /.container &ndash;&gt;-->

<!--</nav>-->
